<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017 KOUNT, INC.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swarming\Kount\Api\Data\RisInterface" type="Swarming\Kount\Model\Ris"/>
    <virtualType name="Swarming\Kount\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">swarming_kount</argument>
        </arguments>
    </virtualType>
    <type name="Swarming\Kount\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Swarming\Kount\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Swarming\Kount\Model\Logger\Handler\Kount">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Swarming\Kount\Model\Logger" >
        <arguments>
            <argument name="name" xsi:type="string">main</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Swarming\Kount\Model\Logger\Handler\Kount</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\State\RegisterCaptureNotificationCommand">
        <plugin name="swarming_kount" type="Swarming\Kount\Plugin\Sales\Payment\RegisterCaptureNotificationCommand"/>
    </type>
    <type name="Swarming\Kount\Model\Ens\Manager">
        <arguments>
            <argument name="supportedEvents" xsi:type="array">
                <item name="WORKFLOW_STATUS_EDIT" xsi:type="string">WORKFLOW_STATUS_EDIT</item>
            </argument>
        </arguments>
    </type>
    <type name="Swarming\Kount\Model\Ens\EventHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="WORKFLOW_STATUS_EDIT" xsi:type="string">Swarming\Kount\Model\Ens\EventHandler\StatusEdit</item>
            </argument>
        </arguments>
    </type>
    <preference for="Swarming\Kount\Model\Observer\ConditionInterface" type="Swarming\Kount\Model\Observer\Condition"/>
    <virtualType name="Swarming\Kount\Model\Observer\PaymentPlaceStart\Condition" type="Swarming\Kount\Model\Observer\Condition" />
    <type name="Swarming\Kount\Observer\PaymentPlaceStart">
        <arguments>
            <argument name="condition"  xsi:type="object">Swarming\Kount\Model\Observer\PaymentPlaceStart\Condition</argument>
        </arguments>
    </type>
    <virtualType name="Swarming\Kount\Model\Observer\PaymentPlaceEnd\Condition" type="Swarming\Kount\Model\Observer\Condition">
        <arguments>
            <argument name="default"  xsi:type="boolean">false</argument>
            <argument name="conditions"  xsi:type="array">
                <item name="authorizenet_directpost" xsi:type="string">Swarming\Kount\Observer\PaymentPlaceEnd\Condition\AuthorizeDirectPost</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Swarming\Kount\Observer\PaymentPlaceEnd">
        <arguments>
            <argument name="condition"  xsi:type="object">Swarming\Kount\Model\Observer\PaymentPlaceEnd\Condition</argument>
        </arguments>
    </type>
    <virtualType name="Swarming\Kount\Model\Observer\SubmitAllAfter\Condition" type="Swarming\Kount\Model\Observer\Condition">
        <arguments>
            <argument name="default"  xsi:type="boolean">true</argument>
            <argument name="conditions"  xsi:type="array">
                <item name="payflow_link" xsi:type="string">Swarming\Kount\Model\Observer\Condition\Negative</item>
                <item name="payflow_advanced" xsi:type="string">Swarming\Kount\Model\Observer\Condition\Negative</item>
                <item name="authorizenet_directpost" xsi:type="string">Swarming\Kount\Model\Observer\Condition\Negative</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Swarming\Kount\Observer\SubmitAllAfter">
        <arguments>
            <argument name="condition" xsi:type="object">Swarming\Kount\Model\Observer\SubmitAllAfter\Condition</argument>
        </arguments>
    </type>
    <virtualType name="Swarming\Kount\Model\Observer\QuoteSubmitFailure\Condition" type="Swarming\Kount\Model\Observer\Condition" />
    <type name="Swarming\Kount\Observer\QuoteSubmitFailure">
        <arguments>
            <argument name="condition"  xsi:type="object">Swarming\Kount\Model\Observer\QuoteSubmitFailure\Condition</argument>
        </arguments>
    </type>
    <virtualType name="Swarming\Kount\Model\Ris\Inquiry\Builder\Payment" type="Swarming\Kount\Model\Ris\Base\Builder\Payment">
        <arguments>
            <argument name="defaultPayment" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\NoPayment</argument>
            <argument name="payments"  xsi:type="array">
                <item name="braintree" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\Braintree</item>
                <item name="authorizenet_directpost" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\AuthorizeDirectPost</item>
                <item name="paypal_express" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\PaypalExpress</item>
                <item name="payflow_express" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\PaypalExpress</item>
                <item name="payflow_link" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\PaypalPayflowLink</item>
                <item name="payflow_advanced" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\PaypalPayflowAdvanced</item>
                <item name="payflowpro" xsi:type="string">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment\PaypalPayflowPro</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Swarming\Kount\Model\Ris\Inquiry\Builder">
        <arguments>
            <argument name="paymentBuilder" xsi:type="object">Swarming\Kount\Model\Ris\Inquiry\Builder\Payment</argument>
        </arguments>
    </type>
    <virtualType name="Swarming\Kount\Model\Ris\Update\Builder\Payment" type="Swarming\Kount\Model\Ris\Base\Builder\Payment">
        <arguments>
            <argument name="defaultPayment" xsi:type="string">Swarming\Kount\Model\Ris\Update\Builder\Payment\NoPayment</argument>
            <argument name="payments"  xsi:type="array">
                <item name="braintree" xsi:type="string">Swarming\Kount\Model\Ris\Update\Builder\Payment\Braintree</item>
                <item name="payflow_link" xsi:type="string">Swarming\Kount\Model\Ris\Update\Builder\Payment\PaypalPayflowLink</item>
                <item name="payflow_advanced" xsi:type="string">Swarming\Kount\Model\Ris\Update\Builder\Payment\PaypalPayflowLink</item>
                <item name="payflowpro" xsi:type="string">Swarming\Kount\Model\Ris\Update\Builder\Payment\PaypalPayflowPro</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Swarming\Kount\Model\Ris\Update\Builder">
        <arguments>
            <argument name="paymentBuilder" xsi:type="object">Swarming\Kount\Model\Ris\Update\Builder\Payment</argument>
        </arguments>
    </type>
</config>
