<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017 KOUNT, INC.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Paypal\Controller\Payflow\ReturnUrl">
        <plugin name="swarming_kount_payflow" type="Swarming\Kount\Plugin\PayPal\Controller\Payflow\ReturnUrl"/>
    </type>
</config>
