<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2022 KOUNT, INC.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="kount2fa" frontName="kount2fa">
            <module name="Kount_Kount2FA"/>
        </route>
    </router>
</config>
